.profile {
  margin: 0 auto;
  padding-top: 40px;
  width: calc(100vw - 2*15.63vw);
  min-height: 120px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content)) 1fr;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .profile {
    padding-top: 41px;
    width: 68.75vw;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .profile {
    padding-top: 41px;
    width: 88.13vw;
  }
}
