.profile__subtitle {
  margin: 0;
  padding-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 960px) {
  .profile__subtitle {
    text-align: center;
    padding: 8px 0 31px;
}
}

@media screen and (max-width: 520px) {
  .profile__subtitle {
    margin: 0 auto;
    font-size: 14px;
    width: 59.38vw;
}
}
